<!DOCTYPE html>
<html class="no-js">
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="description" content="Do you have a passion and need to reach more people to share and pursue it? I offer responsive web design using the latest and most stable technologies.  I love to help people who are passionate about something. Columbia, MO." />
  <link rel="SHORTCUT ICON" HREF="/assets/logo.png">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "modernizr" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="L17Gav6epEwdef-UePxSoQXdc6ayLSCAy-gW4zlFntA" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta property=”og:title” content=”Dillon Lara | Web Designer”/>
<meta property=”og:description” content=”Do you have a passion and need to reach more people to share and pursue it? I offer responsive web design using the latest and most stable technologies.  I love to help people who are passionate about something. Columbia, MO.“/>
<meta property=”og:image” content=”/assets/logo.png”/>
<meta property=”og:url” content=”http://www.dillonlara.com”/>
<meta property=”og:site_name” content=”Columbia MO Responsive Web Design”/>


</head>
<body>


	<%= render 'layouts/header' %>
	<div class="container">
		<%= yield %>
		<%= render 'layouts/footer' %>
	</div>
  

	<%= javascript_include_tag "bootstrap" %>
	<%= javascript_include_tag "smooth-scroll" %>	
  <%= javascript_include_tag "grid" %>
  <script>
  $(function() {
      $('ul.nav a').bind('click',function(event){
          var $anchor = $(this);
   
          $('html, body').stop().animate({
              scrollTop: $($anchor.attr('href')).offset().top
          }, 1500,'easeInOutExpo');
          /*
          if you don't want to use the easing effects:
          $('html, body').stop().animate({
              scrollTop: $($anchor.attr('href')).offset().top
          }, 1000);
          */
          event.preventDefault();
      });
      $(function() {
        Grid.init();
      });
  });

  </script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47680128-1', 'dillonlara.com');
  ga('send', 'pageview');

</script>

</body>
</html>
